[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
yapf = "*"
mypy = "*"
pylint = "*"

[packages]
numpy = "*"
structlog = "*"
requests = "*"
rplidar-roboticia = "*"
websockets = "*"
protobuf = "*"
flask = "*"
flask-socketio = "*"
flask-wtf = "*"
python-can = "*"
colorama = "*"
psutil = "*"
aiohttp = "*"
pathfinding = "*"

[requires]
python_version = "3.7"
