uvloop # Faster async event loop.
numpy
structlog # Better logging.
pygame # Display animation.

mypy # Static typing for python.
pylint # Lint the code.
yapf # To have consistent code.

pytest # For testing.
pytest-asyncio # Necessary to test async functions.
pytest-cov # For coverage report.



