#graphContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.graphRow {
    display: flex;
    height:  25em;
    margin-top: 2em;
}

.graphElement {
    margin: 3em;
    flex: 1 1 auto;
    flex-basis: 0;
    height: 100%;
}
