#robotField {
    width: 1200px;
    height: 800px;

    border: 1px solid white;
    margin: 0 auto;
    display: block;

    background-color: black;
}

.column-left {
    float: left;
    width: 30%;
    height: 90vh;
}

.json-panel {
    height: 60%;
    width: inherit;
}

.control-panel {
    height: 40%;
    width: inherit;
}

.main-view {
    float: right;
    padding: 20px;
}
